/*
  色の設定
*/
$color-theme: #1B9354;
$color-theme-accent: #FFFAAD;
$color-gray-0: #fff;
$color-brown: #D4C4A3;
$color-green-739C5A: #739C5A;
$color-green-71AD8D: #71AD8D;
$color-blue:#314E88;
$font-family-title-01: "Crimson Text", serif;
$font-family-title-02: "Noto Sans JP", sans-serif;
/* */


// :root{
//   --min-lg: '(min-width: #{$lg}px)';
//   --min-md: '(min-width: #{$md}px)';
// }

html{
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

img{
  height: auto;
}
