@use '../../scss/variable' as *;

.grass {
  position: relative;
  width: 15rem;
  height: 14rem;
  // margin: 5rem auto;
  z-index: 0;
  // animation: shake 3s ease-in infinite;

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(5deg);
    }

    40% {
      transform: rotate(-5deg);
    }

    60% {
      transform: rotate(5deg);
    }

    80% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-shadow:
      // 1
      6rem 1rem $grass-01,
      // 2
      6rem 2rem $grass-02,
      7rem 2rem $grass-01,
      // 3
      6rem 3rem $grass-02,
      7rem 3rem $grass-04, 8rem 3rem $grass-01,
      // 4
      1rem 4rem $grass-03,
      2rem 4rem $grass-03, 3rem 4rem $grass-03, 4rem 4rem $grass-01, 6rem 4rem $grass-02, 7rem 4rem $grass-05,
      8rem 4rem $grass-01, 11rem 4rem $grass-01, 12rem 4rem $grass-01, 13rem 4rem $grass-02,
      // 5
      2rem 5rem $grass-02,
      3rem 5rem $grass-04, 4rem 5rem $grass-04, 5rem 5rem $grass-01, 6rem 5rem $grass-02, 7rem 5rem $grass-03,
      8rem 5rem $grass-04, 9rem 5rem $grass-02, 10rem 5rem $grass-03, 11rem 5rem $grass-04, 12rem 5rem $grass-02,
      // 6
      3rem 6rem $grass-02,
      4rem 6rem $grass-03, 5rem 6rem $grass-04, 6rem 6rem $grass-01, 7rem 6rem $grass-01, 8rem 6rem $grass-05,
      9rem 6rem $grass-01, 10rem 6rem $grass-04, 11rem 6rem $grass-03, 12rem 6rem $grass-02,
      // 7
      1rem 7rem $grass-02,
      2rem 7rem $grass-02, 3rem 7rem $grass-02, 4rem 7rem $grass-03, 5rem 7rem $grass-05, 6rem 7rem $grass-01,
      7rem 7rem $grass-05, 8rem 7rem $grass-02, 9rem 7rem $grass-01, 10rem 7rem $grass-05, 11rem 7rem $grass-03,
      12rem 7rem $grass-02,
      // 8
      4rem 8rem $grass-06,
      5rem 8rem $grass-01, 6rem 8rem $grass-05, 7rem 8rem $grass-01, 8rem 8rem $grass-02, 9rem 8rem $grass-05,
      10rem 8rem $grass-03, 11rem 8rem $grass-02,
      // 9
      5rem 9rem $grass-06,
      6rem 9rem $grass-01, 7rem 9rem $grass-01, 8rem 9rem $grass-05, 9rem 9rem $grass-03, 10rem 9rem $grass-01,
      11rem 9rem $grass-02,
      // 10
      6rem 10rem $grass-06,
      7rem 10rem $grass-01, 8rem 10rem $grass-03, 9rem 10rem $grass-01, 10rem 10rem $grass-02,
      // 11
      7rem 11rem $grass-02,
      8rem 11rem $grass-02, 9rem 11rem $grass-02;
  }
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  z-index: -1;

  span {
    display: block;
    background: $color-theme;
    width: calc(100% / 10);
    height: 100%;

    &:nth-child(1) {
      animation: load 0.4s linear;
    }
    &:nth-child(2) {
      animation: load 0.8s linear;
    }
    &:nth-child(3) {
      animation: load 1.2s linear;
    }
    &:nth-child(4) {
      animation: load 1.6s linear;
    }
    &:nth-child(5) {
      animation: load 2s linear;
    }
    &:nth-child(6) {
      animation: load 2.4s linear;
    }
    &:nth-child(7) {
      animation: load 2.8s linear;
    }
    &:nth-child(8) {
      animation: load 3.2s linear;
    }
    &:nth-child(9) {
      animation: load 3.6s linear;
    }
    &:nth-child(10) {
      animation: load 4s linear;
    }
    &:nth-child(11) {
      animation: load 4.4s linear;
    }
    &:nth-child(12) {
      animation: load 4.8s linear;
    }
    &:nth-child(13) {
      animation: load 5.2s linear;
    }
    &:nth-child(14) {
      animation: load 5.6s linear;
    }
    &:nth-child(15) {
      animation: load 6s linear;
    }
  }
}

@keyframes load {
  0% {
    background: #ccc;
    height: 100%;
  }
  60% {
    background: #444;
    height: 100%;
  }
  100% {
    background: $color-theme;
    height: 100%;
  }
}
