@use '../../scss/variable' as *;

.Kodak {
  position: relative;
  width: 18rem;
  height: 21rem;
  margin: 5rem auto;
  z-index: 0;
  // animation: shake 3s ease-in infinite;

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(5deg);
    }

    40% {
      transform: rotate(-5deg);
    }

    60% {
      transform: rotate(5deg);
    }

    80% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-shadow:
      // 1
      8rem 1rem $Kodak-08, 11rem 1rem $Kodak-08,
      // 2
      8rem 2rem $Kodak-08,
      10rem 2rem $Kodak-08, 11rem 2rem $Kodak-08, 13rem 2rem $Kodak-08, 14rem 2rem $Kodak-08,
      // 3
      4rem 3rem $Kodak-08,
      5rem 3rem $Kodak-08, 6rem 3rem $Kodak-08, 9rem 3rem $Kodak-08, 10rem 3rem $Kodak-08, 12rem 3rem $Kodak-08,
      13rem 3rem $Kodak-08,
      // 4
      3rem 4rem $Kodak-08,
      4rem 4rem $Kodak-01, 5rem 4rem $Kodak-01, 6rem 4rem $Kodak-01, 7rem 4rem $Kodak-08, 8rem 4rem $Kodak-08,
      9rem 4rem $Kodak-08, 10rem 4rem $Kodak-08, 11rem 4rem $Kodak-08,
      // 5
      2rem 5rem $Kodak-08,
      3rem 5rem $Kodak-01, 4rem 5rem $Kodak-01, 5rem 5rem $Kodak-02, 6rem 5rem $Kodak-02, 7rem 5rem $Kodak-01,
      8rem 5rem $Kodak-01, 9rem 5rem $Kodak-01, 10rem 5rem $Kodak-01, 11rem 5rem $Kodak-08, 12rem 5rem $Kodak-08,
      // 6
      1rem 6rem $Kodak-08,
      2rem 6rem $Kodak-01, 3rem 6rem $Kodak-01, 4rem 6rem $Kodak-02, 5rem 6rem $Kodak-01, 6rem 6rem $Kodak-01,
      7rem 6rem $Kodak-01, 8rem 6rem $Kodak-01, 9rem 6rem $Kodak-01, 10rem 6rem $Kodak-01, 11rem 6rem $Kodak-01,
      12rem 6rem $Kodak-01, 13rem 6rem $Kodak-08,
      // 7
      1rem 7rem $Kodak-08,
      2rem 7rem $Kodak-01, 3rem 7rem $Kodak-04, 4rem 7rem $Kodak-05, 5rem 7rem $Kodak-01, 6rem 7rem $Kodak-01,
      7rem 7rem $Kodak-01, 8rem 7rem $Kodak-01, 9rem 7rem $Kodak-01, 10rem 7rem $Kodak-01, 11rem 7rem $Kodak-01,
      12rem 7rem $Kodak-01, 13rem 7rem $Kodak-01, 14rem 7rem $Kodak-08,
      // 8
      1rem 8rem $Kodak-08,
      2rem 8rem $Kodak-01, 3rem 8rem $Kodak-05, 4rem 8rem $Kodak-02, 5rem 8rem $Kodak-01, 6rem 8rem $Kodak-01,
      7rem 8rem $Kodak-01, 8rem 8rem $Kodak-01, 9rem 8rem $Kodak-05, 10rem 8rem $Kodak-05, 11rem 8rem $Kodak-01,
      12rem 8rem $Kodak-01, 13rem 8rem $Kodak-02, 14rem 8rem $Kodak-01, 15rem 8rem $Kodak-02,
      // 9
      2rem 9rem $Kodak-08,
      3rem 9rem $Kodak-01, 4rem 9rem $Kodak-05, 5rem 9rem $Kodak-02, 6rem 9rem $Kodak-02, 7rem 9rem $Kodak-01,
      8rem 9rem $Kodak-05, 9rem 9rem $Kodak-02, 10rem 9rem $Kodak-05, 11rem 9rem $Kodak-05, 12rem 9rem $Kodak-02,
      13rem 9rem $Kodak-01, 14rem 9rem $Kodak-02, 15rem 9rem $Kodak-01, 16rem 9rem $Kodak-08,
      // 10
      2rem 10rem $Kodak-08,
      3rem 10rem $Kodak-01, 4rem 10rem $Kodak-02, 5rem 10rem $Kodak-07, 6rem 10rem $Kodak-07, 7rem 10rem $Kodak-02,
      8rem 10rem $Kodak-02, 9rem 10rem $Kodak-05, 10rem 10rem $Kodak-05, 11rem 10rem $Kodak-01, 12rem 10rem $Kodak-02,
      13rem 10rem $Kodak-01, 14rem 10rem $Kodak-01, 15rem 10rem $Kodak-01, 16rem 10rem $Kodak-08,
      // 11
      2rem 11rem $Kodak-08,
      3rem 11rem $Kodak-02, 4rem 11rem $Kodak-07, 5rem 11rem $Kodak-07, 6rem 11rem $Kodak-03, 7rem 11rem $Kodak-07,
      8rem 11rem $Kodak-07, 9rem 11rem $Kodak-02, 10rem 11rem $Kodak-01, 11rem 11rem $Kodak-01, 12rem 11rem $Kodak-02,
      13rem 11rem $Kodak-01, 14rem 11rem $Kodak-01, 15rem 11rem $Kodak-01, 16rem 11rem $Kodak-01, 17rem 11rem $Kodak-08,
      // 12
      1rem 12rem $Kodak-08,
      2rem 12rem $Kodak-06, 3rem 12rem $Kodak-07, 4rem 12rem $Kodak-07, 5rem 12rem $Kodak-07, 6rem 12rem $Kodak-07,
      7rem 12rem $Kodak-07, 8rem 12rem $Kodak-06, 9rem 12rem $Kodak-06, 10rem 12rem $Kodak-02, 11rem 12rem $Kodak-01,
      12rem 12rem $Kodak-02, 13rem 12rem $Kodak-01, 14rem 12rem $Kodak-01, 15rem 12rem $Kodak-01, 16rem 12rem $Kodak-01,
      17rem 12rem $Kodak-08,
      // 13
      1rem 13rem $Kodak-08,
      2rem 13rem $Kodak-07, 3rem 13rem $Kodak-07, 4rem 13rem $Kodak-07, 5rem 13rem $Kodak-07, 6rem 13rem $Kodak-06,
      7rem 13rem $Kodak-06, 8rem 13rem $Kodak-02, 9rem 13rem $Kodak-02, 10rem 13rem $Kodak-02, 11rem 13rem $Kodak-02,
      12rem 13rem $Kodak-03, 13rem 13rem $Kodak-03, 14rem 13rem $Kodak-01, 15rem 13rem $Kodak-01, 16rem 13rem $Kodak-08,
      // 14
      2rem 14rem $Kodak-08,
      3rem 14rem $Kodak-06, 4rem 14rem $Kodak-06, 5rem 14rem $Kodak-06, 6rem 14rem $Kodak-06, 7rem 14rem $Kodak-02,
      8rem 14rem $Kodak-03, 9rem 14rem $Kodak-03, 10rem 14rem $Kodak-03, 11rem 14rem $Kodak-03, 12rem 14rem $Kodak-03,
      13rem 14rem $Kodak-03, 14rem 14rem $Kodak-03, 15rem 14rem $Kodak-08,
      // 15
      3rem 15rem $Kodak-08,
      4rem 15rem $Kodak-02, 5rem 15rem $Kodak-02, 6rem 15rem $Kodak-02, 7rem 15rem $Kodak-01, 8rem 15rem $Kodak-01,
      9rem 15rem $Kodak-01, 10rem 15rem $Kodak-03, 11rem 15rem $Kodak-03, 12rem 15rem $Kodak-03, 13rem 15rem $Kodak-03,
      14rem 15rem $Kodak-03, 15rem 15rem $Kodak-02, 16rem 15rem $Kodak-08, 17rem 15rem $Kodak-08, 18rem 15rem $Kodak-08,
      // 16
      2rem 16rem $Kodak-08,
      3rem 16rem $Kodak-08, 4rem 16rem $Kodak-03, 5rem 16rem $Kodak-01, 6rem 16rem $Kodak-01, 7rem 16rem $Kodak-01,
      8rem 16rem $Kodak-01, 9rem 16rem $Kodak-01, 10rem 16rem $Kodak-01, 11rem 16rem $Kodak-03, 12rem 16rem $Kodak-03,
      13rem 16rem $Kodak-03, 14rem 16rem $Kodak-03, 15rem 16rem $Kodak-02, 16rem 16rem $Kodak-01, 17rem 16rem $Kodak-01,
      18rem 16rem $Kodak-08,
      // 17
      1rem 17rem $Kodak-08,
      2rem 17rem $Kodak-07, 3rem 17rem $Kodak-07, 4rem 17rem $Kodak-02, 5rem 17rem $Kodak-03, 6rem 17rem $Kodak-01,
      7rem 17rem $Kodak-01, 8rem 17rem $Kodak-01, 9rem 17rem $Kodak-01, 10rem 17rem $Kodak-03, 11rem 17rem $Kodak-03,
      12rem 17rem $Kodak-03, 13rem 17rem $Kodak-03, 14rem 17rem $Kodak-02, 15rem 17rem $Kodak-01, 16rem 17rem $Kodak-01,
      17rem 17rem $Kodak-08,
      // 18
      2rem 18rem $Kodak-08,
      3rem 18rem $Kodak-07, 4rem 18rem $Kodak-07, 5rem 18rem $Kodak-02, 6rem 18rem $Kodak-02, 7rem 18rem $Kodak-03,
      8rem 18rem $Kodak-03, 9rem 18rem $Kodak-03, 10rem 18rem $Kodak-03, 11rem 18rem $Kodak-03, 12rem 18rem $Kodak-02,
      13rem 18rem $Kodak-02, 14rem 18rem $Kodak-02, 15rem 18rem $Kodak-08, 16rem 18rem $Kodak-08,
      // 19
      3rem 19rem $Kodak-08,
      4rem 19rem $Kodak-08, 5rem 19rem $Kodak-07, 6rem 19rem $Kodak-07, 7rem 19rem $Kodak-08, 8rem 19rem $Kodak-02,
      9rem 19rem $Kodak-02, 10rem 19rem $Kodak-02, 11rem 19rem $Kodak-02, 12rem 19rem $Kodak-07, 13rem 19rem $Kodak-07,
      14rem 19rem $Kodak-08,
      // 20
      5rem 20rem $Kodak-08,
      6rem 20rem $Kodak-08, 8rem 20rem $Kodak-08, 9rem 20rem $Kodak-07, 10rem 20rem $Kodak-07, 11rem 20rem $Kodak-07,
      12rem 20rem $Kodak-07, 13rem 20rem $Kodak-08,
      // 21
      9rem 21rem $Kodak-08,
      10rem 21rem $Kodak-08, 11rem 21rem $Kodak-08, 12rem 21rem $Kodak-08;
  }
}
