html{
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body,
h2{
  margin: 0;
}

img{
  height: auto;
}

.c-mv{
  position: relative;
  background: #1B9354;
  overflow: hidden;
  z-index: 0;

  // .c-mv__wrap
  &__wrap{
    position: relative;
    width: calc( 1400 / 1500 * 100vw );
    max-width: calc( 100% - 40px );
    margin: 0 auto;
    z-index: 0;

    &::before{
      display: block;
      content: '';
      padding-top: calc( 1000 / 1500 * 100vw );
    }
  }

  // .c-mv__copy
  &__copy{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    text-align: center;
    color: #FFFAAD;
    transform: translate(-50%,-50%);
    z-index: 20;

    // .c-mv__copy-en
    &-en{
      font-size: clamp(4rem,calc( 40 / 768 * 100vw ),4rem);
      line-height: 1;

      @media (min-width: 768px) {
        font-size: clamp(7rem,calc( 80 / 768 * 100vw ),8rem);
      }

      @media (min-width: 1024px) {
        font-size: calc( 120 / 1500 * 100vw );
      }
    }

    // .c-mv__copy-jp
    &-jp{
      font-size: clamp(1.8rem,calc( 20 / 375 * 100vw ),2rem);

      @media (min-width: 768px) {
        font-size: clamp(2rem,calc( 24 / 768 * 100vw ),2.4rem);
      }

      @media (min-width: 1024px) {
        font-size: calc( 24 / 1500 * 100vw );
      }
    }
  }

  // .c-mv__deco
  &__deco{
    position: absolute;

    // .c-mv__deco--01
    &--01{
      top: 10rem;
      left: calc( 60 / 1500 * 100% );

      img{
        width: calc( 300 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--02
    &--02{
      top: 30rem;
      right: calc( 20 / 1500 * 100% );

      img{
        width: calc( 300 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--03
    &--03{
      top: 5rem;
      right: calc( 300 / 1500 * 100% );

      img{
        width: calc( 155 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--04
    &--04{
      bottom: 5rem;
      right: calc( 200 / 1500 * 100% );

      img{
        width: calc( 413 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--05
    &--05{
      bottom: 15rem;
      left: calc( 20 / 1500 * 100% );

      img{
        width: calc( 205 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--06
    &--06{
      bottom: 15rem;
      left: calc( 500 / 1500 * 100% );

      img{
        width: calc( 120 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--07
    &--07{
      bottom: 2rem;
      right: calc( 10 / 1500 * 100% );

      img{
        width: calc( 157 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--08
    &--08{
      bottom: 18rem;
      right: calc( 150 / 1500 * 100% );
      z-index: -1;

      img{
        width: calc( 271 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--09
    &--09{
      top: -12rem;
      left: calc( 350 / 1500 * 100% );
      transform: rotate(180deg);
      z-index: -1;

      img{
        width: calc( 271 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--10
    &--10{
      bottom: 5rem;
      left: calc( (140 / 1500 * 100) * -1% );
      transform: rotate(190deg);
      z-index: -1;

      img{
        width: calc( 271 / 1500 * 100vw );
      }
    }

    // .c-mv__deco--11
    &--11{
      top: 50%;
      left: calc(240 / 1500 * 100% );
      width: calc( 170 / 1500 * 100vw );
      aspect-ratio: 1/1;
      background: rgba(199,199,199,0.5);
      border-radius: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

    // .c-mv__deco--12
    &--12{
      top: 60%;
      left: calc(550 / 1500 * 100% );
      width: calc( 120 / 1500 * 100vw );
      aspect-ratio: 1/1;
      background: rgba(199,199,199,0.5);
      transform: translateY(-60%);
      z-index: -1;
    }

    // .c-mv__deco--13
    &--13{
      top: 30rem;
      right: calc(320 / 1500 * 100% );
      width: calc( 340 / 1500 * 100vw );
      height: 0.2rem;
      background: #71AD8D;
      transform: rotate(45deg);
      z-index: -1;
    }

    // .c-mv__deco--14
    &--14{
      top: 14rem;
      right: calc(360 / 1500 * 100% );
      width: calc( 120 / 1500 * 100vw );
      aspect-ratio: 1/1;
      background: rgba(199,199,199,0.5);
      transform: rotate(45deg);
      z-index: -1;
    }

    // .c-mv__deco--15
    &--15{
      top: 14rem;
      right: calc((150 / 1500 * 100) * -1% );
      width: calc( 250 / 1500 * 100vw );
      aspect-ratio: 1/1;
      background: rgba(199,199,199,0.5);
      border-radius: 50%;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}

// 汎用レイアウト
.c-container{
  width: 117rem;
  max-width: calc( 100% - 40px );
  margin: 0 auto;

  // @media (min-width: 768px) {
  // }

  // @media (min-width: 1024px) {
  // }
}
