@use '../../scss/variable' as *;

.c-about {
  position: relative;
  width: 100%;
  z-index: 0;
  padding-bottom: 20rem;

  // .c-about__wrap
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    gap: 3rem;

    @include over(min-lg) {
      flex-wrap: nowrap;
      width: 117rem;
      max-width: 100%;
      gap: 8rem;
      transform: translateX(calc(80 / 1500 * 100vw));
    }
  }

  // .c-about__thumb
  &__thumb {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 100%;

    @include over(min-lg) {
      width: 34.6rem;
    }

    // .c-about__thumb-item
    &-item {
      position: relative;
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      width: 100%;
      z-index: 0;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: min(34.5rem, calc(345 / 1500 * 100vw));
        aspect-ratio: 345 / 565;
        background: $color-green-739C5A;
        transform: translate(-50%, -50%) rotate(5deg);
        z-index: -1;
      }

      img {
        display: flex;
        flex: 0 0 auto;
      }
    }
  }

  // .c-about__content
  &__content {
    position: relative;
    width: 100%;
    font-size: 1.6rem;
    color: $color-gray-0;
    z-index: 0;

    // .c-about__content-label
    &-label {
      font-size: 1.6rem;
      line-height: 2;
      color: $color-gray-0;

      @include over(min-lg) {
        font-size: 1.8rem;
      }

      @include over(min-lg) {
        line-height: 2.3;
      }
    }
  }

  // .c-about__deco
  &__deco {
    position: absolute;

    // .c-about__deco--01
    &--01 {
      top: 15rem;
      left: calc((140 / 1500 * 100) * -1vw);
      width: 45rem;
      aspect-ratio: 1 / 1;
      background: rgba(199, 199, 199, 0.5);
      border-radius: 50%;
      z-index: -1;
    }

    // .c-about__deco--02
    &--02 {
      top: 34rem;
      right: calc(700 / 1500 * 100vw);
      width: 18rem;
      height: 0.1rem;
      background: $color-gray-0;
      transform: rotate(-45deg);
    }

    // .c-about__deco--03
    &--03 {
      bottom: 15rem;
      right: calc((50 / 375 * 100) * -1vw);

      @include over(min-md) {
        right: calc(50 / 1500 * 100vw);
      }

      img {
        width: calc(200 / 375 * 100vw);

        @include over(min-md) {
          width: calc(271 / 1500 * 100vw);
        }
      }
    }

    // .c-about__deco--04
    &--04 {
      display: none;
      left: calc((20 / 1500 * 100) * -1vw);
      bottom: 3rem;
      z-index: 10;

      @include over(min-md) {
        display: block;
      }

      img {
        width: calc(302 / 1500 * 100vw);
      }
    }

    // .c-about__deco--05
    &--05 {
      left: calc((20 / 375 * 100) * -1vw);
      bottom: 7rem;
      width: calc(240 / 375 * 100vw);
      height: 8rem;
      background: transparent;
      border: 1px solid $color-gray-0;

      @include over(min-md) {
        bottom: 2rem;
        width: 54rem;
        height: 10rem;
        left: calc(200 / 1500 * 100vw);
      }
    }

    // .c-about__deco--06
    &--06 {
      right: 1rem;
      bottom: 3rem;

      @include over(min-md) {
        right: calc(400 / 1500 * 100vw);
        bottom: 5rem;
      }

      img {
        width: calc(80 / 375 * 100vw);

        @include over(min-md) {
          width: calc(151 / 1500 * 100vw);
        }
      }
    }

    // .c-about__deco--07
    &--07 {
      right: 0;
      bottom: 5rem;
      transform: translateY(50%);

      @include over(min-md) {
        bottom: 0;
      }

      img {
        width: calc(150 / 375 * 100vw);

        @include over(min-md) {
          width: calc(400 / 1500 * 100vw);
        }
      }
    }
  }
}
.c-about-list {
  position: relative;
  width: 100%;
  padding-bottom: 5rem;
  z-index: 0;

  // .c-about-list__label
  &__label {
    margin-top: 1rem;
    line-height: 2;
    color: $color-gray-0;
    text-align: center;
  }

  // .c-about-list__caption
  &__caption {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    color: $color-gray-0;
    z-index: 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 1.5rem;
      aspect-ratio: 1 / 1;
      top: 0;
      left: 50%;
      background: $color-gray-0;
      transform: translateX(-50%);
      clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    }

    &::after {
      top: 0.2rem;
      background: $color-theme;
      transform: translateX(-50%);
    }

    // .c-about-list__caption-num
    &-num {
      margin-top: 2.5rem;
      font-size: 1.4rem;
      font-weight: 500;
    }

    // .c-about-list__caption-label
    &-label {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  // .c-about-list__deco
  &__deco {
    position: absolute;
    z-index: -1;

    // .c-about-list__deco--01
    &--01 {
      bottom: 10rem;
      left: calc((60 / 375 * 100) * -1vw);

      @include over(min-md) {
        left: calc(30 / 1500 * 100vw);
      }

      img {
        width: calc(200 / 375 * 100vw);

        @include over(min-md) {
          width: calc(271 / 1500 * 100vw);
        }
      }
    }

    // .c-about-list__deco--02
    &--02 {
      top: 4rem;
      left: calc(10 / 375 * 100vw);
      width: calc(70 / 375 * 100vw);
      aspect-ratio: 1 / 1;
      background: rgba(199, 199, 199, 0.5);
      transform: rotate(30deg);

      @include over(min-lg) {
        top: 15rem;
        left: calc(100 / 1500 * 100vw);
        width: 10rem;
      }
    }

    // .c-about-list__deco--03
    &--03 {
      top: 15rem;
      right: calc((100 / 375 * 100) * -1vw);
      width: calc(150 / 375 * 100vw);
      aspect-ratio: 1 / 1;
      background: rgba(199, 199, 199, 0.5);
      border-radius: 50%;

      @include over(min-lg) {
        top: 10rem;
        right: calc((100 / 1500 * 100) * -1vw);
        width: calc(250 / 1500 * 100vw);
      }
    }

    // .c-about-list__deco--04
    &--04 {
      top: 70%;
      right: 0;
      width: 21rem;
      height: 0.1rem;
      background: $color-gray-0;
      transform: translateY(-70%) rotate(20deg);

      @include over(min-md) {
        right: calc(170 / 1500 * 100vw);
      }
    }
  }
}
