@use '../../scss/variable' as *;

.c-footer-btn {
  width: 100%;
  text-align: center;

  // .c-btn-border
  &--border {
    border: solid 1px #d3d3d3;
    border-radius: 50px;
    padding: 3.5rem 120px 2.5rem 120px;

    .c-btn--btn {
      margin: 0;
      color: $color-gray-0;
      font-size: 2rem;
      font-family: '游ゴシック', serif;
    }
  }
}

.c-btn-product {
  position: relative;
  width: 100%;
  min-width: 13rem;
  background: $color-gray-0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  z-index: 0;

  // .c-btn-product__label
  &__label {
    font-size: 1.6rem;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  // .c-btn-product__arrow
  &__arrow {
    &:first-child {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-200%, -50%);
      transition: transform 0.4s ease-in-out;
    }

    &:last-child {
      display: flex;
      flex: 0 0 auto;
      width: 1.5rem;
      width: 2rem;
      transform: translate(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
