@use '../../scss/variable' as *;

.c-card-product {
  display: flex;
  flex-wrap: wrap;

  // .c-card-product__item
  &__item {
    position: relative;
    display: block;
    width: 100%;
    z-index: 0;

    @include over(min-md) {
      width: calc(100% / 3);
    }
  }

  // .c-card-product__link
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 30rem;
    padding: 3rem 2rem 6rem;
    border-bottom: 2px solid $color-gray-0;
    z-index: 0;

    @include over(min-md) {
      border-left: 2px solid $color-gray-0;
    }

    @include over(min-lg) {
      padding: 5rem 4rem 6rem;
      min-height: 44.5rem;
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus-visible {
        text-decoration: none;

        .c-card-product__thumb {
          animation: shake 1s ease-in-out;
        }

        .c-btn-product {
          .c-btn-product__label {
            transform: translateX(2em);
          }

          .c-btn-product__arrow {
            &:first-child {
              transform: translate(1em, -50%);
            }

            &:last-child {
              transform: translateX(300%);
            }
          }
        }
      }
    }
  }

  // .c-card-product__thumb
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 1.5);

    @include over(min-md) {
      height: 15rem;
    }

    @include over(min-lg) {
      width: auto;
      height: 25rem;
    }

    @keyframes shake {
      0% {
        transform: rotate(0deg);
      }

      20% {
        transform: rotate(5deg);
      }

      40% {
        transform: rotate(-5deg);
      }

      60% {
        transform: rotate(5deg);
      }

      80% {
        transform: rotate(-5deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }

  // .c-card-product__content
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

    @include over(min-md) {
      margin-top: 2rem;
    }
  }

  // .c-card-product__price
  &__price {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-text;

    // .c-card-product__price-label
    &-label {
      font-size: calc(20 / 16 * 1em);
    }
  }

  // .c-card-product__btn
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15rem;
  }
}
