@use '../../scss/variable' as *;

.c-fixed-bnr {
  position: relative;

  &:not(.is-none) {
    position: fixed;
    z-index: 5;
    bottom: 30px;
    right: 0;

    // 初回表示時、ページトップをフッターに固定
    & ~ .l-footer {
      position: relative;

      .l-pagetop {
        position: absolute;
        top: 0;
        right: 15px;

        .l-pagetop-item {
          position: relative;
          top: 0;
          right: 0;
        }
      }
    }
  }

  // 非表示
  &.is-none {
    display: none;
  }

  // .c-fixed-bnr__btn
  &__btn {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    box-shadow: 0 0 0 1px $color-gray-0 inset;
    background: $color-yellow;
    border-radius: 50%;
    transform: translateY(-20px);

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      width: calc(100% - 15px);
      height: 1.5px;
      background-color: $color-gray-0;
      pointer-events: none;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  // .c-fixed-item-bnr__link
  &__link {
    display: flex;
    align-items: center;
    background: $color-yellow;
    border-radius: 10rem 0 0 10rem;
    padding: 1rem 2rem 1.5rem;
    transition: box-shadow 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover,
      &:focus-visible {
        text-decoration: none;
        box-shadow: 0 0 0 2px $color-gray-0 inset;

        .c-fixed-bnr__label-jp {
          &::after {
            transform: translate(-50%, 150%);
          }
        }
      }
    }
  }

  // .c-fixed-bnr__label
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-heading;
    color: $color-gray-0;

    // .c-fixed-bnr__label-en
    &-en {
      font-size: 2.3rem;
      line-height: 1.4;
    }

    // .c-fixed-bnr__label-jp
    &-jp {
      position: relative;
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      z-index: 0;

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: 0.8rem;
        aspect-ratio: 1 / 1;
        background: $color-gray-0;
        clip-path: polygon(100% 0, 0 0, 50% 100%);
        transition: transform 0.3s ease-in-out;
        transform: translate(-50%, 120%);
      }
    }
  }
}
