@use '../../scss/variable' as *;

.c-field {
  width: 50rem;
  aspect-ratio: 2 / 1;
  border-radius: 50%;
  background: $color-green-64B950;
  border: 15px solid $color-yellow-EDCE7A;
  // filter: blur(5px);
}
