@use '../../scss/variable' as *;

.c-heading-primary {
  font-size: 4rem;
  color: $color-gray-0;
  font-family: $font-serif;
  font-weight: 400;
  text-align: center;

  @include over(min-lg) {
    font-size: 8rem;
  }
}

.c-heading-num {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: baseline;
  padding-right: 0.5rem;
  color: $color-gray-0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  z-index: 0;

  &::before,
  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    background: $color-gray-0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  &::after {
    right: -0.1rem;
    bottom: -0.1rem;
    background: $color-blue-3C87C8;
  }

  // .c-list-card__num--large
  &--large {
    font-size: 4.8rem;
    font-family: $font-serif;
  }
}

.c-heading-en {
  display: block;
  margin-bottom: 1rem;
  font-size: clamp(3rem, calc(36 / 375 * 100vw), 3.6rem);
  color: $color-gray-0;
  font-weight: 400;
  font-family: $font-serif;
  line-height: 1.2;

  @include over(min-lg) {
    font-size: 3.6rem;
  }

  // .c-heading-en--large
  &--large {
    font-size: clamp(4rem, calc(50 / 375 * 100vw), 6rem);

    @include over(min-md) {
      font-size: 7rem;
    }

    @include over(min-lg) {
      font-size: 10.5rem;
    }
  }
}
