@use '../../scss/variable' as *;

.fd-up {
  opacity: 0;
  transform: translateY(90px);
  transition: 0.55s ease;
}

.fd-up-txtloop {
  opacity: 0;
  transform: translateY(120px);
  transition: 1.3s ease;
}

.fd-time1 {
  transition-delay: 0.4s;
}

.fd-time2 {
  transition-delay: 0.6s;
}

.fd-time3 {
  transition-delay: 0.8s;
}

.fd-time4 {
  transition-delay: 1s;
}

.c-product {
  background: $color-yellow;
  position: relative;
  overflow: hidden;
  z-index: 0;

  // .c-product__wrap
  &__wrap {
    position: relative;
    width: calc(650 / 768 * 100vw);
    max-width: 100%;
    margin: 0 auto;
    z-index: 0;
    padding-top: 20vw;
    padding-bottom: 10vw;

    @media (min-width: 768px) {
      width: calc(1400 / 1500 * 100vw);
      max-width: calc(100% - 40px);
      padding-top: 15vw;
    }
  }

  // .c-product__title
  &__title {
    margin: 0;
    font-family: $font-heading;
    text-align: center;
    color: $color-gray-0;
    z-index: 20;
    padding-bottom: 6.5rem;

    // .c-product__title-en
    &-en {
      font-size: 8rem;
      font-weight: 500;
    }

    // .c-product__title-jp
    &-jp {
      margin-top: -10px;
      text-align: center;
      font: 2rem $font-body;
      font-weight: 300;
    }
  }

  // .c-product__border
  &__border {
    border-top: solid 2px $color-gray-0;
    border-left: solid 2px $color-gray-0;

    @media (min-width: 1024px) {
      border-top: solid 4px $color-gray-0;
      border-left: solid 4px $color-gray-0;
    }
  }

  // .c-product__text
  &__text {
    overflow: hidden;
    border-right: solid 2px $color-gray-0;
    border-bottom: solid 2px $color-gray-0;

    @media (min-width: 1024px) {
      border-right: solid 4px $color-gray-0;
      border-bottom: solid 4px $color-gray-0;
    }
  }

  // .c-product__block
  &__block {
    margin: 0 auto;
  }

  // .c-product__list
  &__list {
    display: flex;
    align-items: stretch;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 0;
  }

  // .c-product__link
  &__link {
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    color: $color-gray-0;
    animation-duration: 0.2s;

    @include over(min-lg) {
      gap: 2rem;
      padding: 50px 40px 60px;
    }

    @media (any-hover: hover) {
      &:hover,
      &:focus-visible {
        color: $color-yellow-FAF164;
        text-decoration: none;

        .c-product__item-img {
          animation: 1s opacity forwards;
        }
      }
    }
  }

  // .c-product__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-right: solid 2px $color-gray-0;
    border-bottom: solid 2px $color-gray-0;
    width: calc(100% / 2);

    @include over(min-lg) {
      width: calc(100% / 4);
      border-right: solid 4px $color-gray-0;
      border-bottom: solid 4px $color-gray-0;
    }

    // .c-product__item-img
    &-img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: auto;

      @keyframes opacity {
        0% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }
    }

    // .c-product__item-deco
    &-deco {
      position: absolute;
      pointer-events: none;
    }

    // .c-product__item--01
    &--01 {
      width: 40%;

      @include over(min-lg) {
        width: 38%;
      }

      .c-product-item-deco-top {
        width: 7%;
        top: 10%;
        right: 29%;
      }

      .c-product-item-deco-bottom {
        width: 5%;
        left: 28%;
      }
    }

    // .c-product__item--02
    &--02 {
      width: 87%;

      .c-product-item-deco {
        width: 35%;
        top: 12%;
        right: 13%;
      }
    }

    // .c-product__item--03
    &--03 {
      width: 100%;

      @media (max-width: 1023px) {
        width: 77%;
      }

      @media (max-width: 700px) {
        width: 88%;
      }

      .c-product-item-deco {
        width: 36%;
        top: 7%;
        right: 21%;

        @media (min-width: 1023px) {
          top: 10%;
          right: 24%;
        }
      }
    }

    // .c-product__item--04
    &--04 {
      width: 100%;

      .c-product-item-deco {
        width: 15%;
        top: 18%;
        right: 22%;
      }
    }

    // .c-product__item--05
    &--05 {
      width: 72%;
      transform: rotate(63deg);

      .c-product-item-deco {
        width: 25%;
        top: -37%;
        right: 55%;
        transform: rotate(-63deg);
      }
    }

    // .c-product__item--06
    &--06 {
      width: 53%;

      .c-product-item-deco {
        width: 20%;
        top: 15%;
        right: 15%;
      }
    }

    // .c-product__item--07
    &--07 {
      width: 75%;

      .c-product-item-deco {
        width: 14%;
        top: 6%;
        right: 18%;
      }
    }

    // .c-product__item--08
    &--08 {
      width: 56%;

      .c-product-item-deco-left {
        width: 23%;
        top: 3%;
        left: 15%;

        @include over(min-lg) {
          top: 3%;
          left: 16%;
        }
      }

      .c-product-item-deco-right {
        width: 19%;
        top: 2%;
        right: 18%;

        @include over(min-lg) {
          top: 3%;
          right: 20%;
        }
      }
    }

    // .c-product__item--09
    &--09 {
      width: 70%;
      padding-left: 10%;
    }

    // .c-product__item--10
    &--10 {
      width: 80%;
    }

    // .c-product__item--11
    &--11 {
      width: 60%;
    }

    // .c-product__item--12
    &--12 {
      width: 62%;
    }

    // .c-product__item--13
    &--13 {
      width: 48%;
    }

    // .c-product__item--14
    &--14 {
      width: 89%;
    }
  }

  // .c-product__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .c-product-col {
      text-align: center;
      font-family: $font-body;
      font-weight: 500;
      line-height: 2.6;

      @include over(min-md) {
        line-height: 2.5;
      }

      // .c-product-col__en
      &__en {
        text-align: center;
        font-weight: 600;
        font-size: clamp(1.2rem, -0.166rem + 1.5vw, 2.8rem);
        letter-spacing: 0.4px;
        display: block;
        line-height: 1.35;
      }

      // .c-product-col__jp
      &__jp {
        text-align: center;
        font-weight: 500;
        font-size: clamp(0.938rem, -0.166rem + 0.76vw, 1.5rem);
        letter-spacing: 1.8px;
      }
    }

    .c-price {
      width: 100%;
      font-family: $font-body;
      font-size: 1.6rem;

      .zeikomi {
        font-size: 1.2rem;
        padding-left: 1.5%;
      }
    }
  }
}
