html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body,
h2 {
  margin: 0;
}

.c-mv {
  position: relative;
  background: #1B9354;
  z-index: 0;
}
.c-mv__wrap {
  position: relative;
  width: 93.3333333333vw;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  z-index: 0;
}
.c-mv__wrap::before {
  display: block;
  content: "";
  padding-top: 66.6666666667vw;
}
.c-mv__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  text-align: center;
  color: #FFFAAD;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.c-mv__copy-en {
  font-size: clamp(4rem, 5.2083333333vw, 4rem);
  line-height: 1;
}
@media (min-width: 768px) {
  .c-mv__copy-en {
    font-size: clamp(7rem, 10.4166666667vw, 8rem);
  }
}
@media (min-width: 1024px) {
  .c-mv__copy-en {
    font-size: clamp(10rem, 8vw, 12rem);
  }
}
.c-mv__copy-jp {
  font-size: clamp(1.8rem, 5.3333333333vw, 2rem);
}
@media (min-width: 768px) {
  .c-mv__copy-jp {
    font-size: clamp(2rem, 3.125vw, 2.4rem);
  }
}
@media (min-width: 1024px) {
  .c-mv__copy-jp {
    font-size: 3.4rem;
  }
}
.c-mv__deco {
  position: absolute;
}
.c-mv__deco--01 {
  top: 5rem;
  left: 6.6666666667%;
}

.c-container {
  width: 117rem;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}