/*
  色の設定
*/
$color-theme: #22af6a;
$color-theme-accent: #fffaad;
$color-gray-0: #fff;
$color-gray-EEEEEE: #eeeeee;
$color-gray-555555: #555555;
$color-text: #333;

// brown
$color-brown: #d4c4a3;
$color-brown-D1AB9D: #d1ab9d;

// green
$color-green-739C5A: #739c5a;
$color-green-71AD8D: #71ad8d;

// blue
$color-blue: #314e88;
$color-blue-3C87C8: #3c87c8;

// yellow
$color-yellow: #f8a32f;
$color-yellow-FAF164: #faf164;

// orange
$color-orange: #ec643e;

// bippa
$bippa-01: #333232;
$bippa-02: #8b6238;
$bippa-03: #b38452;
$bippa-04: #525251;
$bippa-05: #f5e58b;
$bippa-06: #6a5949;
$bippa-07: #fefefe;
$bippa-08: #cbcbcb;
$bippa-09: #f46251;

// Kodak
$Kodak-01: #f6d64a;
$Kodak-02: #423f3a;
$Kodak-03: #baa35a;
$Kodak-04: #8a8161;
$Kodak-05: #fffff9;
$Kodak-06: #d5c56c;
$Kodak-07: #f6e7ae;
$Kodak-08: #000000;

// grass
$grass-01: #4c5d30;
$grass-02: #2d3e21;
$grass-03: #25832a;
$grass-04: #90d648;
$grass-05: #7ed149;
$grass-06: #23282b;

// monster-ball
$monster-ball-01: #000000;
$monster-ball-02: #f5f5f5;
$monster-ball-03: #c0282f;

/* */

/*
  フォントファミリー
*/
$font-heading: 'Crimson Text', serif;
$font-serif: 'Noto Serif JP', serif;
$font-body: 'Noto Sans JP', sans-serif;
/* */

/*
  ブレークポイント
*/
$breakpoints: (
  'min-md': 'screen and (min-width: 768px)',
  'min-lg': 'screen and (min-width: 1024px)',
  'max-md': 'screen and (max-width: 768px)',
  'max-lg': 'screen and (max-width: 1024px)',
) !default;

// @mixinの定義
@mixin over($breakpoint: min-md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
