/*
  色の設定
*/
$color-theme: #1b9354;
$color-theme-accent: #fffaad;
$color-gray-0: #fff;
$color-brown: #d4c4a3;
$color-green-739C5A: #739c5a;
$color-green-71AD8D: #71ad8d;
$color-blue: #314e88;
/* */

/*
  フォントファミリー
*/
$font-family-title-01: 'Crimson Text', serif;
$font-family-title-02: 'Noto Sans JP', sans-serif;
/* */

/*
  ブレークポイント
*/
$lg: 1024; /* ブレークポイント（デスクトップ）（単位不要） */
$md: 768; /* ブレークポイント（タブレット）（単位不要） */
/* */

@custom-media --min-lg (min-width: #{$lg}px);
@custom-media --min-md (min-width: #{$md}px);
