/*
  色の設定
*/
$color-theme: #22af6a;
$color-theme-accent: #fffaad;
$color-gray-0: #fff;

// brown
$color-brown: #d4c4a3;

// green
$color-green-739C5A: #739c5a;
$color-green-71AD8D: #71ad8d;

// blue
$color-blue: #314e88;
$color-blue-3C87C8: #3c87c8;

// yellow
$color-yellow-FAF164: #faf164;

// orange
$color-orange: #ec643e;

/* */

/*
  フォントファミリー
*/
$font-heading: 'Crimson Text', serif;
$font-serif: 'Noto Serif JP', serif;
$font-body: 'Noto Sans JP', sans-serif;

/* */

/*
  ブレークポイント
*/
$lg: 1024; /* ブレークポイント（デスクトップ）（単位不要） */
$md: 768; /* ブレークポイント（タブレット）（単位不要） */
/* */

@custom-media --min-lg (min-width: #{$lg}px);
@custom-media --min-md (min-width: #{$md}px);
