/*
  色の設定
*/
$color-theme: #22af6a;
$color-theme-accent: #fffaad;
$color-gray-0: #fff;
$color-gray-EEEEEE: #eeeeee;
$color-gray-555555: #555555;
$color-text: #333;

// brown
$color-brown: #d4c4a3;
$color-brown-D1AB9D: #d1ab9d;

// green
$color-green-739C5A: #739c5a;
$color-green-71AD8D: #71ad8d;

// blue
$color-blue: #314e88;
$color-blue-3C87C8: #3c87c8;

// yellow
$color-yellow: #f8a32f;
$color-yellow-FAF164: #faf164;

// orange
$color-orange: #ec643e;

// bippa
$bippa-01: #333232;
$bippa-02: #8b6238;
$bippa-03: #b38452;
$bippa-04: #525251;
$bippa-05: #f5e58b;
$bippa-06: #6a5949;
$bippa-07: #fefefe;
$bippa-08: #cbcbcb;
$bippa-09: #f46251;

/* */

/*
  フォントファミリー
*/
$font-heading: 'Crimson Text', serif;
$font-serif: 'Noto Serif JP', serif;
$font-body: 'Noto Sans JP', sans-serif;
/* */

/*
  ブレークポイント
*/
$breakpoints: (
  'min-md': 'screen and (min-width: 768px)',
  'min-lg': 'screen and (min-width: 1024px)',
) !default;

// @mixinの定義
@mixin over($breakpoint: min-md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
