html{
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body,
h2{
  margin: 0;
}

.c-mv{
  position: relative;
  background: #1B9354;
  z-index: 0;

  // .c-mv__wrap
  &__wrap{
    position: relative;
    width: calc( 1400 / 1500 * 100vw );
    max-width: calc( 100% - 40px );
    margin: 0 auto;
    z-index: 0;

    &::before{
      display: block;
      content: '';
      padding-top: calc( 1000 / 1500 * 100vw );
    }
  }

  // .c-mv__copy
  &__copy{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    text-align: center;
    color: #FFFAAD;
    transform: translate(-50%,-50%);
    z-index: 20;

    // .c-mv__copy-en
    &-en{
      font-size: clamp(4rem,calc( 40 / 768 * 100vw ),4rem);
      line-height: 1;

      @media (min-width: 768px) {
        font-size: clamp(7rem,calc( 80 / 768 * 100vw ),8rem);
      }

      @media (min-width: 1024px) {
        font-size: clamp(10rem,calc( 120 / 1500 * 100vw ),12rem);
      }
    }

    // .c-mv__copy-jp
    &-jp{
      font-size: clamp(1.8rem,calc( 20 / 375 * 100vw ),2rem);

      @media (min-width: 768px) {
        font-size: clamp(2rem,calc( 24 / 768 * 100vw ),2.4rem);
      }

      @media (min-width: 1024px) {
        font-size: 3.4rem;
      }
    }
  }

  // .c-mv__deco
  &__deco{
    position: absolute;

    // .c-mv__deco--01
    &--01{
      top: 5rem;
      left: calc( 100 / 1500 * 100% );
    }
  }
}

// 汎用レイアウト
.c-container{
  width: 117rem;
  max-width: calc( 100% - 40px );
  margin: 0 auto;

  // @media (min-width: 768px) {
  // }

  // @media (min-width: 1024px) {
  // }
}
